{
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "prettier/prettier": ["error", { "singleQuote": true }]
  }
}
