.article
    h1.ui.header
        font-size: 2.57148571rem
        .sub.header
            font-size: 1.28571429rem
    .content                    
        // margin-top: calc(2rem - .14285714em)    
        img 
            max-width: 100%
            height: auto
    &.table-content
        .sticky
            z-index: 5
    .ck-content
        min-height: 360px
