@import "./typo.styl"

#root, #top-nav
  padding-left: calc(100vw - 100%)

.clear-fix-container
  display: flow-root
    
.text-container
  font-size: 15px !important

.ui.header.top.attached.header
  margin-top: 1rem
  &:first-child
    margin-top: 0
    