@import "./typo.styl"

body 
  overflow-y: scroll

.page-content
  padding-top: 7em

.clear-fix-container
  display: flow-root
    
.text-container
  font-size: 15px !important

.ui.header.top.attached.header
  margin-top: 1rem
  &:first-child
    margin-top: 0
    

.button-group
  display: flex
  flex-wrap: wrap
  float: right
  .ui.button
    margin-bottom: 4px

#sidebar
  position: fixed
  top: 0px
  bottom: 0px  
  z-index: 2000
  background-color: rgba(0,0,0,0.85)
  width: 100vh
  visibility: hidden
  transform: translate3d(0, 0, 0)
  .sidebar-menu
    transform: translate3d(-100%, 0, 0)
    transition: transform .5s ease
  &.active
    visibility: visible
    .sidebar-menu
      transform: translate3d(0, 0, 0)


.text-file-overview
  white-space: pre-wrap