body 
  overflow-y: scroll

#top-nav
  z-index: 1000

#sidebar
  position: fixed
  top: 0px
  bottom: 0px  
  z-index: 2000
  background-color: rgba(0,0,0,0.85)
  width: 100vh
  visibility: hidden
  transform: translate3d(0, 0, 0)
  .sidebar-menu
    transform: translate3d(-100%, 0, 0)
    transition: transform .5s ease
  &.active
    visibility: visible
    .sidebar-menu
      transform: translate3d(0, 0, 0)

.page-content
  padding-top: 7em

.clear-fix-container
  display: flow-root
    
.text-container
  font-size: 15px !important
  pre
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(103, 136, 170, 0.15);
    font-size: 0.96em
  blockquote
    border-left: 5px solid #f1f1f1;
    padding-left: 5px;
  .anchor-tag  
    padding-top: 80px
    margin-top: -80px
    a
      position: absolute
      left: -1.25em
      padding: 0 1em 1em
      opacity: 0  
      transition: opacity 0.2s
  h2, h3, h4
    &:hover
      .anchor-tag a
        opacity 0.25
        &:hover
          opacity 1

.ui.header.top.attached.header
  margin-top: 1rem
  &:first-child
    margin-top: 0
    

.button-group
  display: flex
  flex-wrap: wrap
  float: right
  .ui.button
    margin-bottom: 4px

.text-file-overview
  white-space: pre-wrap
