.ck-content
  min-height: 240px
  max-height: 360px

.ace_editor
  border: 1px solid rgba(34,36,38,.15)
  font-size: 1rem
  width: 100% !important  
  &.ace_focus
    border-color: rgb(133, 183, 217)

.markdown-editor
    padding:.67857143em 1em
    border: 1px solid rgba(34, 36, 38, .15)
    .content
      cursor: text

.editor-wrapper
    padding:.67857143em 1em
    border: 1px solid rgba(34, 36, 38, .15)    
    
    .content
      cursor: text


.problem-editor
    .public-DraftEditor-content
      height: 360px
      overflow: auto
    .preview 
      height: 360px
      overflow: auto

.article-editor
    .public-DraftEditor-content
      height: 320px        