.ck-content
  min-height: 240px
  max-height: 360px

.ace_editor
  border: 1px solid rgba(34,36,38,.15)
  font-size: 1rem
  width: 100% !important  
  &.ace_focus
    border-color: rgb(133, 183, 217)

.markdown-editor
    padding:.67857143em 1em
    border: 1px solid rgba(34, 36, 38, .15)
    .content
      cursor: text

.editor-wrapper
    padding:.67857143em 1em
    border: 1px solid rgba(34, 36, 38, .15)    
    
    .content
      cursor: text
      
.toolbar-wrapper
  height: 38px


.problem-editor, .article-editor, .contest-editor
    .public-DraftEditor-content
      height: 360px
      overflow: auto
    .preview 
      height: 360px
      overflow: auto


.toolbar-button
  border: none
  height: 34px
  width: 36px
  vertical-align: bottom
  background-color: #fbfbfb
  color: #888
  &&:hover
    background-color: #f3f3f3
  i
    font-size: 18px  

.katex-inline-style
  background-color: #ffff00