.file-upload-input
    &:hover
        cursor: pointer


.search
    &.fluid
        .input
            width: 100%
        input 
            width: 100%
    &.normal-input
        input.prompt
            border-radius: .28571429rem