.status-label
    &.loading
        .loader
            margin-right: 6px
    &.accepted
        .icon
            margin-right: 6px
            color: #43a047
            &:last-child
                margin-right: 0px
        span
            color: #00701a
    &.score
        span
            color: #00701a
    &.error
        .icon
            margin-right: 6px
            color: #c62828
        span
            color: #c62828
        