.status-label
    &.loading
        .loader
            margin-right: 6px
    &.accepted
        .icon
            margin-right: 0.4em
            color: #558b2f
            &:last-child
                margin-right: 0px
        span
            color: #00701a
    &.score
        span
            color: #00701a
    &.error
        span
            color: #ef6c00        

        