.status-label
    &.loading
        color: #757575
        vertical-align: middle
        display: inline-block
        & .loader            
            &::after                
                border-color: #757575 transparent transparent !important