.table-container
    overflow-y: auto


.error-table-body
    position: relative
    .error-message-container
        position: absolute
        width: 100%
        left: 0
        top: 0

.loading-table-body
    position: relative
    .loader-container
        position: absolute
        left: 0
        right: 0
        height: 168px