.anchor-tag
  margin-top -3.2em !important
  padding-top 3.2em !important
  display block

font-type(type)
  if type == h1
    font-size: 6.3125rem !important
    letter-spacing: -0.09375rem
  else if type == h2
    font-size: 3.9375rem !important
    font-weight: lighter
    letter-spacing: -0.03125rem
  else if type == h3
    font-size: 3.125rem !important
    letter-spacing: 0rem
  else if type == h4
    font-size: 2.25rem !important
    letter-spacing: 0.015625rem
  else if type == h5
    font-size: 1.5625rem !important
    letter-spacing: 0rem
  else if type == h6
    font-size: 1.3125rem !important
    letter-spacing: 0.009375rem
  else if type == body-1
    font-size: 1.0625rem !important
    letter-spacing: 0.03125rem
  else if type == body-2
    font-size: 0.9375rem !important
    letter-spacing: 0.015625rem

